.content {
  display: flex;
  justify-content: space-between;
}

.main {
  width: calc(100% - 250px);
  padding-bottom: 24px;

  .container-fluid {
    padding-left: 36px !important;
    padding-right: 36px !important;
  }

  .header {
    border-bottom: 1px solid $light-border-color;
    padding: 24px 0;
    margin-bottom: 32px;

    .row--center {
      align-items: center;
    }

    padding: 24px 0;

    &-subtitle {
      font-size: 10px;
      text-transform: uppercase;
      color: $text-muted-color;
      margin-bottom: 9px;
      letter-spacing: calc(8/10px);
      font-weight: 500;
    }

    &-title {
      font-size: 26px;
      font-weight: 500;
      margin: 0;
      letter-spacing: calc(13/25px);
      line-height: 1.1;
    }
  }
}

.stats {
  margin-bottom: 24px;

  .card {
    border-color: $cl-card;
    box-shadow: 0 12px 24px 0 rgba(18, 38, 63, .03);
    border-radius: 8px;

    .row {
      &--center {
        align-items: center;
      }
    }

    &-body {
      padding: 24px;
    }

    &-title {
      color: $text-muted-color;
      letter-spacing: calc(8/10px);
      font-size: 10px;
      margin: 0 0 6px;
      line-height: 11px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &-value {
      color: $body-color;
      font-size: 20px;
      font-weight: 500;
      margin: 0;
      display: inline-block;

    }

    .fe {
      font-size: 20px;
      color: $text-muted-color;
    }

    .badge--green {
      border-radius: 6px;
      color: $navbar-badge-color;
      background-color: $navbar-badge-bg;
      font-size: calc(45/4px);
      font-weight: 700;
      padding: calc(297/80px) calc(45/8px);

      margin: {
        top: -5px;
        left: 5px;
      }

      vertical-align: middle;
    }

    .col-no-pr {
      padding-right: 6px;
    }

    .col-no-pd {
      padding: 0;
    }

    .progress {
      height: 4px;

      border-radius: 200px;

      .progress-bar {
        border-radius: 200px;
      }
    }
  }
}

.chartjs {
  margin-bottom: 24px;
  border-color: $cl-card;

  .card {
    border-radius: 8px;
    border-color: $cl-card;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);

    &-header {
      .row {
        &--center {
          align-items: center;
        }
      }

      background-color: $white-color;
      padding: 24px 24px 20px;
      margin-bottom: 0;
      border-radius: 7px 7px 0 0;

      border-bottom: 1px solid $cl-card;
    }

    &-header-title {
      font-size: 15px;
      letter-spacing: calc(-3/10px);
      font-weight: 500;
      line-height: calc(33/2px);
    }
  }

  .custom-control-label:before {
    background-color: rgb(227, 235, 246);
    border: 0 solid $cl-gray-2;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 24px;
    left: -56px;
    border-radius: 12px;
    position: absolute;
    top: 0;
    width: 48px;
  }

  .custom-control-label:after {
    background-color: rgb(255, 255, 255);
    content: "";
    display: block;
    height: 18px;
    left: -53px;
    position: absolute;
    top: 3px;
    width: 18px;
  }

  .custom-control-input:checked~.custom-control-label:after {
    transform: translateX(24px);
    background: $white-color;
  }

  .custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
  }
}

.chartjs {
  .card-body {
    padding: 24px;
  }

  .chart {
    height: 320px;
    position: relative;

    canvas.chart-canvas {
      height: 100% !important;
    }
  }
}

#chart-tooltip .arrow {
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateX(-8px);
}

.popover {
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 8px calc(76/5px);
}

.popover-header {
  margin-bottom: 4px;
  border-bottom: 0;
}

.popover .arrow {
  width: 16px;
  height: 8px;
  margin: 0 8px;
}

.popover-body {
  padding: 0;
  color: $text-muted-color;
}

.popover-body-indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.popover-body-label,
.popover-body-value {
  margin-left: 8px;
  font-weight: 400;
  font-size: calc(27/2px);
}

.popover-header {
  padding: 0;
  margin-bottom: 5px;
  font-size: 0.9375rem;
  background-color: $white-color;
  border-bottom: 1px solid $white-color;
  border-top-left-radius: calc(.5rem - 1px);
  border-top-right-radius: calc(.5rem - 1px);
}

.chartjs .card-header.no-pd-tb {
  padding-bottom: 0;
  padding-top: 0;
}

.nav-cards {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  &-item {
    margin-right: 8px;
    display: inline-block;
    padding: 24px 0;
    cursor: pointer;

    &:not(.active):hover a {
      color: $navbar-link-color;
    }

    &.active {
      border-bottom: 1px solid $my-badge-color;

      a {
        color: $dark-color;
      }
    }
  }

  &-link {
    text-decoration: none;
    color: $navbar-link-color;
    font-size: 13px;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

    &:hover {
      text-decoration: none;
    }
  }
}

.chart-legend {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 0.8125rem;
  text-align: center;
  color: $text-muted-color;
}

.chartjs .chart.right {
  height: 260px;
}

.chart-legend-item {
  display: inline-flex;
  align-items: center;
  color: $text-muted-color;
  font-size: 13px;
}

.chart-legend-item+.chart-legend-item {
  margin-left: 16px;
}

.chart-legend-indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 6px;
  border-radius: 50%;

  &.desktop {
    background-color: $my-badge-color;
  }

  &.tablet {
    background-color: $cl-gray-3;
  }

  &.mobile {
    background-color: $cl-gray-4;
  }
}

.canvas-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;

  #deviceChart {
    width: 100% !important;
    height: 100% !important;
    margin: auto;
  }
}

.chartjs-bottom {
  margin-bottom: 24px;
  border-color: $cl-card;

  .card {
    &-body {
      padding: 24px;
    }

    border-radius: 8px;
    margin-bottom: 24px;
    border-color: $cl-card;

    &-header {
      .row {
        &--center {
          align-items: center;
        }
      }

      background-color: $white-color;
      padding: 24px 24px 20px;
      margin-bottom: 0;
      border-radius: 7px 7px 0 0;

      border-bottom: 1px solid $cl-card;
    }

    &-header-title {
      font-size: 15px;
      letter-spacing: calc(-3/10px);
      font-weight: 500;
      line-height: calc(33/2px);
      margin-bottom: 0;
    }

    &-header-link {
      color: $my-badge-color;
      font-size: 13px;

      &:hover {
        text-decoration: none;

      }
    }
  }

  .row--center {
    align-items: center;
  }

  .no-pl {
    padding-left: 0;
  }

  .card-title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 3px;
    letter-spacing: calc(-3/10px);

  }

  .card-link {
    color: $dark-color;
  }

  .card-text {
    color: $text-muted-color;
    font-size: 13px;
    font-weight: 400;
  }

  .avatar {
    border-radius: 8px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 48px;
    font-size: 1rem;

    img {
      border-radius: 8px;
    }
  }

  .dropdown-ellipses {
    font-size: 1.0625rem;
    color: $cl-gray-4;

    &:hover {
      text-decoration: none;
    }
  }

  .dropdown-toggle:after {
    display: none;
  }

  .dropdown-menu {
    border-radius: 6px;
  }
}

.table-goal {
  .right {
    .row--center {
      justify-content: center;
    }

    .happy {
      max-width: 272px;
      margin-top: -36px;
      margin-bottom: 24px;
    }

    h3 {
      font-size: 20px;
      letter-spacing: calc(-4/10px);
      line-height: 22px;
    }
  }
}

.chartjs-bottom {
  .no-pd-tb {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.table-goal {
  margin-bottom: 24px;
  border-color: $cl-card;

  .card {
    &-body {
      padding: 0;
    }

    border-radius: 8px;
    margin-bottom: 24px;
    border-color: $cl-card;

    &-header {
      .row {
        &--center {
          align-items: center;
        }
      }

      background-color: $white-color;
      padding: 24px 24px 20px;
      margin-bottom: 0;
      border-radius: 7px 7px 0 0;

      border-bottom: 1px solid $cl-card;
    }

    &-header-title {
      font-size: 15px;
      letter-spacing: calc(-3/10px);
      font-weight: 500;
      line-height: calc(33/2px);
      margin-bottom: 0;
    }

    .btn {
      &--border {
        border-color: $light-border-color;
        cursor: pointer;
        font-size: 13px;

        border-radius: 4px;

        &:hover {
          background-color: $btn-demo-hover;
          border-color: $btn-demo-border-color;
        }
      }
    }
  }

  .table {
    margin-bottom: 0;
  }

  .table th {
    background-color: $btn-demo-hover;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: calc(33/25px);
    color: $text-muted-color;
    border-top: 1px solid $cl-card;
    font-size: 0.625rem;
    vertical-align: bottom;
    border-bottom: 1px solid $cl-card;
    padding: 15px 15px 15px 24px;

    line-height: normal;

    a:hover {
      text-decoration: none;
    }
  }

  [data-sort]:after {
    content: url("data:image/svg+xml;utf8,<svg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M3 0L6 4H0L3 0ZM3 10L0 6H6L3 10Z' fill='%2395AAC9'/></svg>");
    margin-left: 10px;
  }

  .table td {
    padding: 15px;
    vertical-align: top;
    border-top: 1px solid $cl-card;
    padding-left: 24px;
    font-size: 13px;
  }

  .avatar-list {
    display: inline-flex;
    justify-content: flex-end;
  }

  .avatar-list .avatar+.avatar {
    margin-left: -6.5px;
  }

  .avatar-list .avatar:not(:last-child) {
    mask-image: url("../images/avatar-group.svg");
    -webkit-mask-image: url("../images/avatar-group.svg");
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .avatar {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    font-size: 0.54167rem;
  }

  .dropdown-ellipses {
    font-size: 1.0625rem;
    color: $btn-demo-border-color;

    &:hover {
      text-decoration: none;
    }
  }

  .dropdown-toggle:after {
    display: none;
  }
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
  display: none;
}

table.dataTable.no-footer {
  border-bottom: 0 !important;
}

table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting {
  background-image: none !important;
}

@media (max-width: 1199px) {
  .card {
    margin-bottom: 24px;
  }

  .stats {
    margin-bottom: 0;
  }

  .table-goal .right .row--center {
    padding-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .sidebar,
  .main {
    width: 100%;
  }

  .sidebar__inner {
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .container-fluild {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
    }
  }

  .sidebar__img {
    max-height: 24px;
  }

  .nav-collapse:not(.show) {
    display: none;
  }

  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border: 0;
    font-size: 1.2rem;
    padding: 4px 12px;
  }

  .dropdown-menu.show {
    right: 0 !important;
    left: auto !important;
    transform: translateX(0) !important;
  }

  .nav-collapse:before {
    content: "";
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    margin: 0 -2rem .5rem;
    border-top-color: #e3ebf6;
  }

  .navbar-light {
    border-bottom: 1px solid #e3ebf6;
  }

  .navbar-light .navbar-toggler {
    outline: 0;
  }

  .nav-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 0 0 0 16px;
  }

  .nav.nav-flex-column .nav-item.has-badge .nav-link:before {
    left: -32px;
  }

  .navbar-user__search i.fe {
    text-align: left;
  }

  .navbar-light .navbar-nav .nav-link.navbar-user__search:after {
    display: none;

  }

  .navbar-user {
    display: none !important;
  }
}