/* Responsive design */

@media (max-width: 1199px) {
  .quick-stats {
    &__chart {
      flex-wrap: wrap;
    }

    &__item {
      box-sizing: border-box;
      flex-basis: 50%;
      max-width: calc(50% - 10px);
      margin: 0 10px 1.5rem 0;

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    &__item &__header {
      padding: 1rem 1rem 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .btn-toggle {
    right: 10px;
    top: 5px;
    position: absolute;
    display: inline-block;
    width: 40px;
    padding: 10px;
    font-size: 16px;
    color: #434857;
    background: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 0.25rem;
    border-color: #434857;

    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-bottom: 0.125em;
      border-top: 0.4em double;
      border-bottom: 0.13em solid;
    }

    &:hover,
    &:focus {
      color: $white-color;
      background-color: #434857;
    }
  }

  .content {
    flex-direction: column;
  }

  body {
    padding: 20px 0;
  }

  .sidebar,
  .main-wrapper {
    max-width: 100%;
    position: relative;
  }

  .toggle-mobile {
    display: none;
  }

  .main-wrapper {
    .header {
      margin-bottom: 1.5rem;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      &__time {
        width: 100%;
      }

      &__input {
        width: 100%;
      }
    }
  }

  .chart__inner {
    flex-direction: column;
  }

  .quick-stats {
    margin-bottom: 2rem;

    &__item {
      max-width: 100%;
      margin-right: 0;
      flex-basis: auto;
    }
  }

  .stats-table {
    &__inner {
      flex-direction: column;
    }

    &__countries,
    &__pages {

      max-width: 100%;
    }

    &__countries {
      margin-top: 2rem;
    }

    &__pages {
      margin-top: 3rem;
    }
  }

}

@media (min-width: 769px) {
  .content {
    max-width: 880px;
    padding: 50px 10px;
  }

  .btn-toggle {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .content {
    padding: 50px 0;
  }
}

@media (min-width: 992px) {
  .content {
    max-width: 950px;
  }

  .sidebar {
    &__inner {
      margin-right: 40px;
    }
  }
}

@media (min-width: 992px) {
  .content {
    max-width: 950px;
  }
}

@media (min-width: 1200px) {
  .content {
    max-width: 1100px;
  }
}