// main
section.main
  .header.container-fluid
    .row.row--center
      .col
        h6.header-subtitle Overview
        h1.header-title Dashboard
      .col-auto
        a.btn.btn-primary.btn-block(href="#!") Create Report
/// end main