//-------------------------------------------------------
//- Modules :: Modal
//-------------------------------------------------------

mixin modalDemo()
  // modal demo

mixin modalMember()
  // modal member

mixin modalSearch()
  // modal search

mixin modalActivity()
  // modal activity