//-------------------------------------------------------
//- Modules :: Plugins
//-------------------------------------------------------
mixin plugins(src)
  script(src= "js/main.min.js" type="text/javascript")
