//-------------------------------------------------------
//- Modules :: Plugins
//-------------------------------------------------------
mixin plugins(args)
  each arg in args
    script(
      src= `${arg}`
      type="text/javascript"
    )
