include ../modules/head/_head
include ../modules/menu/_menu
include ../modules/_modal
include ../modules/_sidebar
include ../modules/_plugin

doctype html
html(lang='en')
  head
    block head
  body
    block body