include ../modules/head/_head
include ../modules/menu/_menu
include ../modules/_sidebar
include ../modules/_plugin
include ../includes/_modal-activity
include ../includes/_modal-demo
include ../includes/_modal-search

doctype html
html(lang='en')
  head
    block head
  body
    block body