$body-bg: #252830;
$body-color:#cfd2da;
$white-color: #ffffff;
$dark-color:#000000;
$main-color:#2c7be5;
$body-color: #12263f;
$body-bg : #f9fbfd;
$sidebar-color-hover: #12263f;
$light-color:#ffffff;
$dark-color:#000000;
$light-border-color:#e3ebf6;
$navbar-link-color:#6e84a3;
$navbar-link-active-color:#12263f;
$navbar-badge-color:#00d97e;
$navbar-badge-bg:#ccf7e5;
$navbar-badge-border:#2c7be5;
$navbar-main-color:#6e84a3;
$nabar-heading-color:#95aac9;
$my-badge-color:#2c7be5;
$btn-hover-color:#1a68d1;
$btn-border-color:#1862c6;
$text-muted-color:#95aac9;
$btn-demo-color:#dfdfdf;
$btn-demo-hover:#f9fbfd;
$btn-demo-border-color:#d2ddec;
$input-focus:#71a4e8;